* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hmtl {
    max-width: 800px;
    margin: auto;
}


body {

    table.differences-table {
         td, th{
            border: 1px solid black;
            padding: 4px;
         }
         th {
            background-color: rgb(252, 237, 219);
         }
         td {
            background-color: rgb(234, 255, 237);
            text-align: center;
         }

        
    }
}